@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model Novir.PetFinder.App.ViewModels.Home.IndexMainViewModel
@{
    ViewData["Title"] = "Home";
}

<ul class='slideshow'>
    <li>
        <span>Summer</span>
    </li>
    <li>
        <span>Fall</span>
    </li>
    <li>
        <span>Winter</span>
    </li>
    <li>
        <span>Spring</span>
    </li>
</ul>

<div class="parallax first-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 wow slideInLeft">
                <div class="contact_form">
                    <h3><i class="fa fa-search grd1 global-radius"></i> @Localizer["QuickSearch"]</h3>
                    <form id="contactform1" class="row" name="contactform" action="/item/search" method="get">
                        <fieldset class="row-fluid">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <input type="text" name="Query" id="Query" class="form-control" placeholder="@Localizer["QuickSearchPlaceholder"]">
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <label class="sr-only">@Localizer["Category"]</label>
                                <select name="Category" id="Category" class="form-control main-category-select" data-style="btn-white">
                                    <option value="">@Localizer["SelectCategory"]</option>
                                    @foreach (var parent in Model.Categories)
                                    {
                                        <optgroup label="@parent.Name">
                                            @foreach (var child in parent.ChildCategories)
                                            {
                                                <option value="@child.Id">@child.Name</option>
                                            }
                                        </optgroup>
                                    }
                                </select>
                            </div>
                            @*<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-sm-offset-6" align="center">
                                    <input type="radio" id="found" name="search_type" value="0"
                                           checked>
                                    <label for="found">@Localizer["Found"]</label>

                                    <input type="radio" id="lost" name="search_type" value="0"
                                           checked>
                                    <label for="lost">@Localizer["Lost"]</label>
                                </div>*@
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-center">
                                <button type="button" value="SEND" id="submit1" class="btn btn-secondary btn-main-search  btn-radius btn-brd btn-block " onclick="window.location.href='#advanced-hr'">@Localizer["DetailedSearch"]</button>
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-center">
                                <button type="submit" value="SEND" id="submit1" class="btn btn-main-search btn-radius btn-brd grd1 btn-block">@Localizer["Search"]</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="big-tagline clearfix">
                    <h2>@Localizer["Slogan1"]</h2>
                    @*<input type="button" class="btn btn-info" onclick="window.location.href='/Identity/Account/login'"value="@Localizer["LogIn"]"/>*@
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <p class="lead"> <a href="/Identity/Account/login">@Localizer["SloganLogin"]</a>, @Localizer["Slogan2"]</p>
                    }
                </div>
            </div>
        </div><!-- end row -->
    </div><!-- end container -->
</div><!-- end section -->

<div class="about-box">
    <div class="container">
        <div class="row">
            @*<div class="top-feature owl-carousel owl-theme">*@
            @foreach (var lastItem in Model.LastItems.Items)
            {
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="service-widget">
                        <div class="property-main">
                            <div class="property-wrap property-wrap-height">
                                <figure class="post-media wow fadeIn">
                                    @if (!String.IsNullOrEmpty(lastItem.ImageSource))
                                    {
                                        <a href="@lastItem.ImageSource" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius">
                                            <i class="fa fa-search-plus" style="color:#fff;"></i>
                                        </a>
                                    }
                                    <img src="@lastItem.ImageSource" alt="" class="img-responsive">
                                    <div class="label-inner">
                                        <span class="label-status label">@lastItem.Category.Name</span>
                                    </div>
                                    <div class="price">
                                        <span class="item-sub-price">@Localizer[lastItem.TypeName]</span>
                                    </div>
                                </figure>
                                <a href="/Item/Index/@lastItem.Id">
                                    <div class="item-body">
                                        <h3>@lastItem.Name</h3>
                                        <div class="info">
                                            <p>@lastItem.Description.Substring(0, lastItem.Description.Length < 200 ? lastItem.Description.Length : 200)</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="item-foot">
                                <div class="pull-left">
                                    <span class="prop-user-agent">
                                        <i class="fa fa-map-pin" aria-hidden="true"></i>
                                        @lastItem.CityName
                                    </span>
                                </div>
                                <div class="pull-right">
                                    <span class="prop-date">
                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                        @lastItem.CreateDate.ToString("dd/MM/yyyy HH:mm")
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div><!-- end service -->
                </div>

                @*<div class="item">
                        <div class="single-feature">
                            <div class="icon"><img src="@lastItem.ImageSource" class="img-responsive" alt=""></div>
                            <h4><a href="#">@lastItem.Name</a></h4>
                            <p>@lastItem.Description.Substring(0, lastItem.Description.Length < 100 ? lastItem.Description.Length : 100)</p>
                        </div>
                    </div>*@
            }
            @*</div>*@
        </div>

        <hr class="hr1">
    </div>
</div>
<hr id="advanced-hr" />
<div id="agent" class="parallax section db parallax-off" style="background-image:url('uploads/parallax_02.png');">
    <div class="container">
        <div class="section-title row text-center">
            <div class="col-md-8 col-md-offset-2">
                <h3>@Localizer["DetailedSearch"]</h3>
                <p class="lead">@Localizer["DetailedSearchSlogan"]</p>
            </div><!-- end col -->
        </div><!-- end title -->

        <div class="row contact_form">
            <form id="detailedsearchform" class="row" name="contactform" action="/item/search" method="get">
                <fieldset class="row-fluid">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <input type="text" name="Query" id="Query" class="form-control" placeholder="@Localizer["QuickSearchPlaceholder"]">
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <label class="sr-only">@Localizer["Category"]</label>
                        <select name="Category" id="Category" class="form-control main-category-select" data-style="btn-white">
                            <option value="">@Localizer["SelectCategory"]</option>
                            @foreach (var parent in Model.Categories)
                            {
                                <optgroup label="@parent.Name">
                                    @foreach (var child in parent.ChildCategories)
                                    {
                                        <option value="@child.Id">@child.Name</option>
                                    }
                                </optgroup>
                            }
                        </select>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <label class="sr-only">@Localizer["Category"]</label>
                        <select name="City" id="City" class="form-control main-category-select" data-style="btn-white">
                            <option value="">@Localizer["SelectCity"]</option>
                            @foreach (var parent in Model.Cities)
                            {
                                <option value="@parent.Id">@parent.Name</option>
                            }
                        </select>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 ">
                        <select name="Type" id="Type" class="form-control main-category-select" data-style="btn-white">
                            <option value="0">@Localizer["Lost"]</option>
                            <option value="1">@Localizer["Found"]</option>
                        </select>
                    </div>
                    <div class="col-lg-offset-5 col-lg-2 col-md-2 col-md-offset-5 col-sm-2 col-sm-offset-5 col-xs-12 text-center">
                        <button type="submit" value="SEND" id="submit1" style=" height: 55px;" class="btn btn-main-search btn-radius btn-brd grd1 btn-block">@Localizer["Search"]</button>
                    </div>
                </fieldset>
            </form>
        </div><!-- end row -->
    </div>
</div>

<div id="testimonials" class="section lb">
    <div class="container">
        <div class="section-title row text-center">
            <div class="col-md-8 col-md-offset-2">
                <h3>Happy Customers</h3>
                <p class="lead">Quisque eget nisl id nulla sagittis auctor quis id. Aliquam quis vehicula enim, non aliquam risus. Sed a tellus quis mi rhoncus dignissim.</p>
            </div><!-- end col -->
        </div><!-- end title -->

        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="testi-carousel owl-carousel owl-theme">
                    <div class="testimonial clearfix">
                        <div class="desc">
                            <h3><i class="fa fa-quote-left"></i> Wonderful Support! <i class="fa fa-quote-right"></i></h3>
                            <p class="lead">They have got my project on time with the competition with a sed highly skilled, and experienced & professional team.</p>

                        </div>
                        <div class="testi-meta">
                            <img src="uploads/testi_01.png" alt="" class="img-responsive alignleft">
                            <h4>James Fernando <small>- Manager of Racer</small></h4>
                        </div>
                        <!-- end testi-meta -->
                    </div>
                    <!-- end testimonial -->

                    <div class="testimonial clearfix">
                        <div class="desc">
                            <h3><i class="fa fa-quote-left"></i> Awesome Services! <i class="fa fa-quote-right"></i></h3>
                            <p class="lead">Explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you completed.</p>
                        </div>
                        <div class="testi-meta">
                            <img src="uploads/testi_02.png" alt="" class="img-responsive alignleft">
                            <h4>Jacques Philips <small>- Designer</small></h4>
                        </div>
                        <!-- end testi-meta -->
                    </div>
                    <!-- end testimonial -->

                    <div class="testimonial clearfix">
                        <div class="desc">
                            <h3><i class="fa fa-quote-left"></i> Great & Talented Team! <i class="fa fa-quote-right"></i></h3>
                            <p class="lead">The master-builder of human happines no one rejects, dislikes avoids pleasure itself, because it is very pursue pleasure. </p>
                        </div>
                        <div class="testi-meta">
                            <img src="uploads/testi_03.png" alt="" class="img-responsive alignleft">
                            <h4>Venanda Mercy <small>- Newyork City</small></h4>
                        </div>
                        <!-- end testi-meta -->
                    </div>
                    <!-- end testimonial -->
                    <div class="testimonial clearfix">
                        <div class="desc">
                            <h3><i class="fa fa-quote-left"></i> Wonderful Support! <i class="fa fa-quote-right"></i></h3>
                            <p class="lead">They have got my project on time with the competition with a sed highly skilled, and experienced & professional team.</p>
                        </div>
                        <div class="testi-meta">
                            <img src="uploads/testi_01.png" alt="" class="img-responsive alignleft">
                            <h4>James Fernando <small>- Manager of Racer</small></h4>
                        </div>
                        <!-- end testi-meta -->
                    </div>
                    <!-- end testimonial -->

                    <div class="testimonial clearfix">
                        <div class="desc">
                            <h3><i class="fa fa-quote-left"></i> Awesome Services! <i class="fa fa-quote-right"></i></h3>
                            <p class="lead">Explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you completed.</p>
                        </div>
                        <div class="testi-meta">
                            <img src="uploads/testi_02.png" alt="" class="img-responsive alignleft">
                            <h4>Jacques Philips <small>- Designer</small></h4>
                        </div>
                        <!-- end testi-meta -->
                    </div>
                    <!-- end testimonial -->

                    <div class="testimonial clearfix">
                        <div class="desc">
                            <h3><i class="fa fa-quote-left"></i> Great & Talented Team! <i class="fa fa-quote-right"></i></h3>
                            <p class="lead">The master-builder of human happines no one rejects, dislikes avoids pleasure itself, because it is very pursue pleasure. </p>
                        </div>
                        <div class="testi-meta">
                            <img src="uploads/testi_03.png" alt="" class="img-responsive alignleft">
                            <h4>Venanda Mercy <small>- Newyork City</small></h4>
                        </div>
                        <!-- end testi-meta -->
                    </div><!-- end testimonial -->
                </div><!-- end carousel -->
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</div><!-- end section -->